body{
    margin: 0;
    /*默认是8px*/
    padding: 0;
}

.header{
    background-color: #3083eb;
    height: 68px;
}

.div01{
    display:inline ;
    float: right;
}

.ul01{
    list-style: none;
}

.div01 li{
    float: left;
    height: 18px;
    line-height: 18px;
    /*上右下左*/
    margin:0 0 0 -1px ;
}