body{
    background-color: #f1f1f1;
    /*background-color: red;*/
    margin: 0;
    padding: 0;
}

.loginMain{
    width: 985px;
    height: 535px;
    background-color: white;
    /*border: solid 1px red;*/
    /*border-bottom: 1px gray solid;*/
    /*box-sizing: border-box;    */
    margin: 0 auto;
    /*要放在margin 0 auto下面*/
    margin-top: 55px;
    padding: 20px;
    /*box-sizing: border-box;*/
    overflow: hidden;
    /*float: left;*/

}

.loginMain .header{
    /*background-color: #1e8045;*/
    width: 100%;
    height: 60px;
    overflow: hidden;
    /*border: solid 1px red;*/
}
.loginMain .header .headerLeft{
    color: black;
    /*background-color: blue;*/
    width: 50%;
    height: 50px;
    font-size: 1.5em;
    float: left;
    line-height: 70px;
    /*overflow: hidden;*/
}

.loginMain .header .headerRight img{
    margin-bottom: -3px;

}

.loginMain .header .headerRight{
    /*background-color: aquamarine;*/
    width: 50%;
    height: 50px;
    font-size: 0.9em;
    line-height: 70px;
    float: left;
    text-align: right;


}


hr{
    margin-left: -1px;
    /*margin-right: 55px;*/
    width: 985px;
    margin-top: -8px;
    /*系统给我们提供的margin默认为8px*/
}


.loginMain .middle{
    width: 100%;
    height: 415px;
    /*background-color: #0068b7;*/
    /*border: 1px solid red;*/
    border-bottom: solid 1px gray;
}

.loginMain .middle>div{
    width: 50%;
    height: 415px;
    float: left;
    padding: 80px;
    box-sizing: border-box;


}

.loginMain .middle .middleLeft{
    border-right: solid 1px gray;
}

.loginMain .middle .middleLeft a{
    font-size:0.8em;
    text-decoration: none;
    color: #2494de;

}

.loginMain .middle .middleLeft a:hover{

    text-decoration: underline;
}

.loginMain .middle .middleLeft .buttonSign{
    text-decoration: none;
    color: white;
    border: none;
    background-color:#2494de ;
    width: 105px;
    height: 35px;
    margin-left: 13px;
}

.loginMain .middle .middleLeft .buttonSign:hover{

    background-color: #207cbb;

}


.loginMain .middle .middleLeft table{
    width:340px;
    height:155px;
    /*background-color: #cdc92d;*/

}

.loginMain .middle .middleLeft table .td1{
    text-align: center;
}


.loginMain .middle .middleLeft table .textinput{
    width:1200px;
    height: 40px;

    box-sizing: border-box;
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;

}

.loginMain .middle .middleRight .useId{
    font-size: 1.2em;
}

.loginMain .middle .middleRight ul li {
    color: #666666;


}


.loginMain .middle .middleRight .createId{
    color: #2494de;
    text-decoration: none;
    font-size: 0.8em;
}

.loginMain .middle .middleRight .createId:hover{

    text-decoration: underline;
}




.loginMain .bottom{
    width: 100%;
    height: 70px;
    /*background-color: #f4645f;*/
}

.loginMain .bottom div{
    width: 50%;
    height: 70px;
    float: left;
    line-height: 70px;


}

.loginMain .bottom .bottomLeft .buttonCancel{
   width: 100px;
    height:35px;
    background-color: white;
    border: solid 1px gray;
    color: #2494de;


}

.loginMain .bottom .bottomLeft .buttonCancel:hover{

    background-color: rgba(156, 156, 156, 0.32);


}


.loginMain .bottom .bottomRight{
    text-align: right;

}

.phone{
    font-size: 0.8em;
}

.footer{
    width: 1025px;
    height: 100px;
    background-color: #f1f1f1;
    /*border: solid 1px red;*/
    /*border-bottom: 1px gray solid;*/
    /*box-sizing: border-box;    */
    margin: 0 auto;
    /*要放在margin 0 auto下面*/
    /*margin-top: 55px;*/
    /*padding: 20px;*/
    /*box-sizing: border-box;*/
    /*overflow: hidden;*/
    /*float: left;*/
}

.footer01{
    color: #626262;
    font-size: 0.7em;
    padding: 10px 0;
    border-bottom: solid 1px gray;
}

.footer02{
    color: #626262;
    font-size: 0.7em;
    padding: 10px 0;
}

.footerLink1{
    color: #2494de;
}

.footerLink2{
    font-weight: 500;
    color: #484848;
    text-decoration: none;
}

.footerLink2:hover{
    text-decoration: underline;
}

.footSpace{
    margin-left: 25%;
}


